.blog {
    background-color: #5f9ea0;
    border: 20px ridge red;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
    width: 28%;
    height: 300px;
    display: inline-block;
}

.author-name {
    color: rgb(255, 244, 241);
}

.blog-title {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}

.blog p {
    color: aquamarine;
    text-align: justify;
}